@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/*BASE STYLES*/

html {
	font-size: 16px;
}

body {
	font-size: 1em;
	margin: 0 auto; 
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1, 
h3, 
h4 {
	text-transform: uppercase; 
}

h1 {
	font-size: 2.6em;
	margin-bottom: 0px;
	text-align: center;
	border-bottom: 3px solid #77a466;  
}

h3 {
	font-size: 1.875em;
	padding: 10px; 
    border-bottom: 3px solid #77a466;    
	text-align: left; 
	color: #77a466; 
}

h4 {
	font-size: 0.7em;
}


/*Section 1- HEADER--------------------------*/

header {
	max-width: 90%;
	padding-left: 20px;
	padding-right: 20px;
}

header span {
	color: #77a466;
}

header nav {
	text-align: center;
	padding: 20px;
}
header nav a {
	text-decoration: none; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 1.2em; 
	padding: 0 10px; 
	color:#77a466;
	display: block;
	line-height: 2.5em;
}

/*Section 2- TOP-SECTION---------------------*/

.top-section {
	margin: 0 auto;  
	max-width: 90%;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.top-section p {
	font-size: 1.3em;
    color: black; 
    text-align: left; 
	padding-bottom: 10px;
	line-height: 25px; 
}

.top-section .main-image img {
	border-top: 3px solid #77a466;  
	border-bottom: 3px solid #77a466;
	max-width: 100%;
}

/*Section 3- BOTTOM SECTION------------------*/

.bottom-section {
	margin: 0 auto;
	height: auto; 
	font-size: 1.875em;  
	max-width: 90%;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.bottom-section .section-one, .section-two, .section-three {
	border-top: 2px solid #eee;
}

.bottom-section .section-one h4 {
	margin-bottom: 20px;
}

.bottom-section .menu {
	list-style: none; 
	margin-top: 0px;
	padding: 10px;
}

.bottom-section .menu li {
	font-size: 0.6em;
	color:#77a466;
	line-height: 40px;
}

.bottom-section p 
 {
	font-size: 0.6em;
	padding-bottom: 10px;
}

/*Section 4- FOOTER--------------------------*/

footer {
	font-size: 1.3em;
	max-width: 100%; 
	height: 50px; 
	border-top: 3px solid #eee; 
	margin: 0 auto; 
	clear: both; 
	text-align: center;
}

footer span {
	font-size: 1.3em;
	font-family: "Wisdom Script", script; 
	text-transform: lowercase;
	color: #77a466;
	
}

/* Tablet styles-----------------------------*/

@media all and (min-width:768px) {
    /* No changes in CSS- same as mobile */
 
}
 
/* Desktop styles----------------------------*/

@media all and (min-width:940px) {

/*Section 1- HEADER*/
	
	header {
		max-width: 100%; 
		max-height: 110px; 
		margin: 0 auto;
	}
	
	header h1 {
		text-align: left; 
		float: left; 
		padding: 15px 0;
		border-bottom: none;
	}
	header nav {
		float: right; 
		padding: 53px 0px 0px 0px;

}
	header nav a {
		display: inline;
		padding: 0 10px; 
		font-size: 1em;
	}

/*Section 2- TOP-SECTION*/

	.top-section, 
	.bottom-section {
		width: 90%; 
		height: auto;
		margin: 0 auto; 
		clear: both;
	}
	
	.top-section h3 {
		border-bottom: none;
		padding: 0px;
	}

	.top-section .main-title {
		width: 100%; 
		height: auto; 
		float: left;
	}	


/*Section 3- BOTTOM-SECTION*/
	
	.bottom-section .section-one, .section-two, .section-three {
		width: 33%; 
		height: auto;
		float: left; 
		border-top: 1px solid #eee;
	}

	.bottom-section .section-one, .section-two {
		border-right: 1px solid #eee;
		border-bottom: none;
	}
	
	 .bottom-section .section-one h4 {
    	padding: 0px;
  	}

  .bottom-section .section-two h4,
  .section-three h4 {
    padding: 0px 30px;
  	}
	
  .bottom-section .menu {
    border-bottom: none;
  	}

  .bottom-section .reviews {
    line-height: 21px;
	padding: 10px 20px;

  }

  .bottom-section .address {
	padding: 10px 20px;
  }
}